<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HelloFromBlazor</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="posts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Posts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Todos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="parentchild">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parent - childs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="query-params/hello">
                <span class="oi oi-list-rich" aria-hidden="true"></span> /query-params/{hello}
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="query-params">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  /query-params
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="interop-example">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  /interop
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
